form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.upPart {
  display: flex;
  flex-direction: row;
}

.imagePart {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin-right: 20px;
}

.imageShow {
  display: block;
  max-height: 250px;
  max-width: 250px;
  width: auto;
  height: auto;
  padding: 10%;
  margin: auto;
}

@media screen and (max-width: 300px) {
  .imageShow {
    max-height: 100px;
    max-width: 100px;
  }
}

.chooseFile {
  margin-left: 10px;
  margin-right: 10px;
}

.titlePart {
  display: flex;
  flex-direction: column;
  flex: 6;
  margin-left: 20px;
  justify-content: flex-end;
  margin-bottom: 35px;
}

.titlePart input {
  padding: 8px;
  padding-left: 15px;
  border: 2px solid gray;
  border-radius: 4px;
}

.titlePart input:focus {
  border: 2px solid black;
  outline: none;
}

.title {
  width: 45%;
}

.title_description {
  width: 95%;
  margin-top: 30px;
}

.midPart {
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.contenu {
  border: 2px solid gray;
  border-radius: 4px;
}

.downPart {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.downPart button {
  font-size: 1em;
  border-radius: 10px;
}

.cancel {
  height: 50px;
  flex: 2;
  margin-left: 5%;
  margin-right: 5%;
}

.supprimer {
  flex: 1;
  margin-left: 5%;
  margin-right: 5%;
}

.validate {
  flex: 3;
  margin-left: 5%;
  margin-right: 15%;
}

.categorySelector {
  padding: 8px;
  padding-left: 15px;
  border: 2px solid gray;
  border-radius: 4px;
}

.categoryPart {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

.categoryPart label {
  margin-bottom: 5px;
}
