.adminContent {
  display: flex;
  flex-direction: column;
}

.adminColumns {
  display: flex;
  flex-direction: rows;
}

.categories {
  flex: 1;
  padding: 0 15px 0 15px;
}

h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.posts {
  flex: 1;
  padding: 0 15px 0 15px;
}

.separator {
  width: 100%;
  border-top: 2px solid white;
}

.categoryButton,
.postButton {
  width: 100%;
  display: flex;
  padding: 10px;
  margin: 10px 0 10px 0;
  text-align: "left";
  align-items: "center";
}
