.itemCard * {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: "Roboto";
  font-size: 10px;
}

.itemCard {
  width: 150px;
  display: inline-block;
  border-radius: 10px;
  border: 0.5px solid gray;
  box-shadow: rgba(62, 66, 68, 0.6) 0px 0px 20px;
}

.itemCardContent {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 8px;
  flex-direction: column;
  justify-content: space-between;
}

.itemCard .top {
  display: flex;
}

.itemCard .top .title {
  font-size: 20px;
  margin: 2px 0px 0px 5px;
}

.itemCard .middle {
  display: flex;
  margin-top: 8px;
}

.itemCard .middle img {
  display: block;
  width: 100%;
  border: 0.5px solid black;
}

.itemCard .bottom {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
}

.itemCard .bottom .leftColumn {
  flex: 1;
}

.itemCard .bottom .leftColumn .state {
  margin-top: 3px;
}

.itemCard .bottom .rightColumn {
  flex: 1;
  display: flex;
  align-items: center;
}
.itemCard .bottom .rightColumn p {
  align-self: flex-end;
  width: 100%;
  text-align: end;
}
